src/stablex_xml_example/schemas/flash.filters.xsd

<xs:schema targetNamespace="flash.filters" xmlns="flash.filters" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="BitmapFilterSchemaTypeValue">
<xs:sequence><xs:element ref="BitmapFilter"/></xs:sequence></xs:complexType>

<xs:complexType name="BitmapFilterSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="BitmapFilter" type="BitmapFilterSchemaType"/>
</xs:schema>
